<main>

  <section class="section section-lg section-hero section-shaped">
    <div class="shape shape-style-1 shape-primary">
    </div>
  </section>


  <section class="section section-lg section-shaped pb-250">

    <div class="shape shape-style-1 shape-light">
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <!-- Basic elements -->
          <h2 class="mb-5">
            <span>Basic Elements</span>
          </h2>
          <!-- Buttons -->
          <h3 class="h4 text-success font-weight-bold mb-4">Buttons</h3>
          <!-- Button styles -->
          <div>
            <button class="btn btn-primary" (click)="getTicket()" type="button">
              <span class="btn-inner--text">With icon</span>
            </button>
            <button class="btn btn-primary" type="button">
              <span class="btn-inner--text">With icon</span>
            </button>
            <button class="btn btn-primary" type="button">
              <span class="btn-inner--text">With icon</span>
            </button>
            <button class="btn btn-primary" type="button">
              <span class="btn-inner--text">With icon</span>
            </button>
            <button class="btn btn-primary" type="button">
              <span class="btn-inner--text">With icon</span>
            </button>
            <button class="btn btn-primary" type="button">
              <span class="btn-inner--text">With icon</span>
            </button>
            <button class="btn btn-primary" type="button">
              <span class="btn-inner--text">With icon</span>
            </button>
            <button class="btn btn-primary" type="button">
              <span class="btn-inner--text">With icon</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-lg-md d-flex">

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Match Name</th>
              <th scope="col">Tips</th>
              <th scope="col">Odds</th>
              <th scope="col">Date</th>
              <th scope="col">Result</th>
            </tr>
            </thead>


            <tbody>
            <tr *ngFor="let match of Matches">
              <th scope="row">{{match.matchId}}</th>
              <td>{{match.name}}</td>
              <td>{{match.tips}}</td>
              <td>{{match.odds}}</td>
              <td>{{match.date}}</td>
              <td>{{match.result}}</td>
              <td>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

  </section>

</main>
