<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="col-sm-9">
                <h1 class="mb-0 text-white">Winners Academy</h1>
                <h5 class="mb-0 text-white">Let's start winning today!</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

  <section class="section section-components pb-0" id="section-components">


    <div class="container">
      <div class="center-item row">
        <div class="col-md-4">
          <small class="text-uppercase font-weight-bold mb-3 center-item">Ticket Date</small>
          <div class="form-group" [ngClass]="{'focused':focus2===true}">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <input class="form-control datepicker" placeholder="Select date" name="dp"  [maxDate]="maxDate" [minDate]="minDate" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus2=true" (blur)="focus2=false" type="text" (dateSelect)="onDateSelection($event)" autocomplete="off"/>
            </div>
          </div>
        </div>
      </div>





      <div class="container py-lg-md d-flex">
        <div class="table-responsive">
          <div *ngIf="Matches.length != 0; else noMatches">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Match No#</th>
                <th scope="col">Match Name</th>
                <th scope="col">Tips</th>
                <th scope="col">Odds</th>
                <th scope="col">Date</th>
                <th scope="col">Result</th>
              </tr>
              </thead>


              <tbody>
              <tr *ngFor="let match of Matches">
                <th scope="row">{{match.matchId}}</th>
                <td>{{match.name}}</td>
                <th scope="row">{{match.tips}}</th>
                <th scope="row">{{match.odds}}</th>
                <td>{{match.date}}</td>
                <td>{{match.result}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </section>

  <ng-template #noMatches>

        <h3 class="h4 text-center text-success font-weight-bold mb-4">No matches posted yet for this date!</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </ng-template>


</main>
