<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="col-sm-9">
                <h1 class="mb-0 text-white">Winners Academy</h1>
                <h5 class="mb-0 text-white">Let's start winning today!</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>


  <section class="section section-components pb-0" id="section-tickets">
    <div class="container">
      <div class="container py-lg-md d-flex flex-column-direction">
        <div class="table-responsive">

          <div *ngIf="currentTickets.length != 0">

            <h2 class="h2 text-dark text-center font-weight-bold mb-4">Tickets</h2>

            <table class="table">
              <thead>
              <tr>
                <th scope="col">Ticket No#</th>
                <th scope="col">Date</th>
                <th scope="col">Total Odds</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let ticket of currentTickets" (click)="selectTicket(ticket)"
                  [class.active]="ticket == selectedTicket">
                <th scope="row">{{ticket.ticketId}}</th>
                <td>{{ticket.date | dateFormatPipe | date: 'dd-MM-yyyy'}}</td>
                <th scope="row">{{ticket.totalOdds}}</th>
                <td>{{ticket.status}}</td>
                <td>{{ticket.ticketType}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="currentMatches.length != 0">

            <h2 class="h2 text-dark text-center font-weight-bold mb-4">Matches</h2>

            <table class="table">
              <thead>
              <tr>
                <th scope="col">Match No#</th>
                <th scope="col">Name</th>
                <th scope="col">Odds</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let match of currentMatches">
                <td>{{match.matchId}}
                <td>
                <td>{{match.name}}</td>
                <td>{{match.odds}}
                <td>
              </tr>
              </tbody>
            </table>


          </div>


        </div>
        <div class="center-item">
          <button class="btn btn-1 btn-primary center-item" type="button" [routerLink]="['/register']">Add Ticket
          </button>
        </div>
      </div>
    </div>


  </section>

</main>
