<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="col-sm-9">
                <h1 class="mb-0 text-white">Winners Academy</h1>
                <h5 class="mb-0 text-white">Let's start winning today!</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>


  <section class="section section-components pb-0" id="section-tickets">
    <div class="container">
      <div class="container py-lg-md d-flex">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>User Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Type</th>
            </tr>
            </thead>
            <tbody *ngIf="pageUser?.content">
            <tr *ngFor="let user of pageUser.content" (click)="selectUser(user)" [class.active]="user == selectedUser">
              <td>{{user.userId}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.type}}</td>
            </tr>
            </tbody>
          </table>

          <div class="container">

            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-block btn-primary mb-3" (click)="addUser(classic1)">
                  Add User
                </button>
              </div>

              <div class="col-md-4">
                <button class="btn btn-block btn-default" (click)="editUser(classic1) "
                        [disabled]="selectedUser == null">
                  Edit User
                </button>
                <ng-template #classic1 let-c="close" let-d="dismiss">
                  <div class="modal-content">
                    <div class="modal-body p-0">
                      <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-5">
                          <form>
                            <h6 class="heading-small text-center mb-4">User information</h6>
                            <div class="pl-lg-4">
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <form [formGroup]="editUserForm">

                                      <label class="form-control-label text-black-50"
                                             for="input-username">Username</label>
                                      <input type="text" id="input-username" formControlName="username"
                                             class="form-control form-control-alternative" placeholder="Username">
                                      <br>
                                      <label class="form-control-label text-black-50" for="input-email">Email</label>
                                      <input type="email" id="input-email" formControlName="email"
                                             class="form-control form-control-alternative" placeholder="Email">
                                      <br>
                                      <label class="form-control-label text-black-50"
                                             for="input-first-name">Name</label>
                                      <input type="text" id="input-first-name" formControlName="name"
                                             class="form-control form-control-alternative" placeholder="Name">
                                      <br>
                                      <label class="form-control-label text-black-50" for="input-user-type">Type</label>
                                      <select [(ngModel)]='userTypeSelect' id="input-user-type" formControlName="type"
                                              class="custom-select-sm form-control form-control-alternative">
                                        <option>NORMAL</option>
                                        <option>VIP</option>
                                        <option>ADMIN</option>
                                      </select>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    (click)="c('Close click')">Save changes
                            </button>
                            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal"
                                    (click)="d('Close click')">Close
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>

              <div class="col-md-4">
                <button class="btn btn-block btn-warning mb-3" [disabled]="selectedUser == null"
                        (click)="deleteUser2(classic2)">
                  Delete User
                </button>
                <ng-template #classic2 let-c="close" let-d="dismiss">
                  <div class="modal-content bg-gradient-danger">
                    <div class="modal-header">
                      <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                              (click)="d('Cross click')">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="py-3 text-center">
                        <i class="ni ni-bell-55 ni-3x"></i>
                        <h4 class="heading mt-4">Deleting User!</h4>
                        <p>Are you sure you want to delete the user named: <b>{{selectedUser.name}}</b>?</p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-white" data-dismiss="modal"
                              (click)="c('Close click')">Delete User</button>
                      <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal"
                              (click)="d('Close click')">Cancel
                      </button>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>


          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li *ngFor="let page of ' '.repeat(pageUser.totalPages).split(''), let i = index " (click)="onSelect(i)"
                    [class.active]="i === selectedPage" class="page-item active">
                  <a class="page-link">{{i + 1}}</a></li>
              </ul>
            </nav>

          </div>


        </div>


      </div>
    </div>
  </section>

</main>
