<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="col-sm-9">
                <h1 class="mb-0 text-white">Winners Academy</h1>
                <h5 class="mb-0 text-white">Let's start winning today!</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>


  <section class="section section-components pb-0" id="section-tickets">
    <div class="container">
      <div class="container py-lg-md d-flex">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>User Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Type</th>
            </tr>
            </thead>
            <tbody *ngIf="pageUser?.content">
            <tr *ngFor="let user of pageUser.content" (click)="selectUser(user)" [class.active]="user == selectedUser">
              <td>{{user.userId}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.type}}</td>
            </tr>
            </tbody>
          </table>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li *ngFor="let page of ' '.repeat(pageUser.totalPages).split(''), let i = index " (click)="onSelect(i)"
                    [class.active]="i === selectedPage" class="page-item active">
                  <a class="page-link">{{i}}</a></li>
              </ul>
            </nav>
          </div>


        </div>


      </div>
    </div>
  </section>

</main>
