<section class="section section-lg">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">Do you love this awesome
          <span class="text-success">Design System for Angular?</span>
        </h2>
        <p class="lead">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim where you can find the Design System in Angular. Start a new project or give an old Angular project a new look!</p>
      </div>
    </div>
  </div>
</section>


<!--create button <div class="btn-wrapper">-->
